---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Desarrollador y Programador Web Alejandro Velásquez">
	<main class="flex justify-center flex-col items-center">
        <section>
            <h1>Servicios</h1>
        </section>
	</main>
</Layout>