<a
class="bg-blue-100 text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 hover:scale-105 hover:transition"
href={Astro.props.href}
target="_blank" rel="noopener noreferrer">
<slot/>
</a>