<a class="
rounded-full
py-2
px-4
border
border-white/10
 flex
 justify-center
 items-center
 gap-x-2
 hover:scale-105 transition"
href={Astro.props.href}
target="_blank" rel="noopener noreferrer">
    <slot />
</a>